{% extends 'base.html.twig' %}

{% block title %}Media index{% endblock %}

{% block body %}

    <div class="jumbotron">
        <div class="text-center">
        <h1>Media index</h1>
        </div>
        <a href="{{ path('media_new') }}">Ajouter un Média</a>
    </div>

    <div class="container">
    <table class="table">
        <thead>
            <tr class="text-center">
                <th>Name</th>
                <th>Url</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medium in media %}
            <tr>
                <td>{{ medium.name }}</td>
                <td>{{ medium.url }}</td>
                <td>
                    <a href="{{ path('media_show', {'id': medium.id}) }}">show</a>
                    <a href="{{ path('media_edit', {'id': medium.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}
