{% extends 'base_admin.html.twig' %}

{% block title %}Show index{% endblock %}

{% block body %}{{ parent() }}

    <div class="jumbotron">
        <h1 class="m-5 text-center">Liste des spectacles</h1>
        <a href="{{ path('show_new') }}">Create new</a>
    </div>

    <div class="container">


    <table class="table">
        <thead>
            <tr>

                <th>Name</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for show in shows %}
            <tr>
                <td>{{ show.name }}</td>
                <td>{{ show.content }}</td>
                <td>
                    <a href="{{ path('show_show', {'id': show.id}) }}">show</a>
                    <a href="{{ path('show_edit', {'id': show.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


</div>
{% endblock %}
