{% extends 'base_admin.html.twig' %}

{% block title %}Show{% endblock %}

{% block body %}{{ parent() }}

<div class="jumbotron">
    <h1 class="m-5 text-center">Spectacle</h1>

        <a href="{{ path('show_index') }}">back to list</a><br>

        <a href="{{ path('show_edit', {'id': show.id}) }}">edit</a>
</div>


<div class="container">
    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ show.name }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ show.content }}</td>
            </tr>
        </tbody>
    </table>
    {{ include('show/_delete_form.html.twig', {'button_label': 'Supprimer'}) }}
    </div>

{% endblock %}
