<!-- Portfolio Modals -->

<!-- Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">LES CLOWNS</h2>
                            <img class="img-fluid d-block mx-auto" src="{{ asset('assets/img/portfolio/01_clowns.jpg') }}" alt="">
                            <p>À l’aube des années 1980, une troupe d’artistes fondée par Xavier CROCHET s’installe
                                dans les rues de Cadillac, charmant village situé au bord de la Garonne, près de
                                Bordeaux. Connu du public sous le nom de Clowns rigolos de Cadillac, ce groupe
                                constituerait le noyau de ce qui deviendrait Wild Sircus. Cette équipe a présenté
                                un spectacle éclectique mettant en vedette des clowns, des magiciens et des dompteurs
                                qui ont ravi les fans locaux avec leur numéro. Ce groupe ne savait pas que ces débuts
                                mèneraient à quelque chose de plus grand à l'échelle mondiale.
                            </p>

                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">LE GLOBE DES MOTOS</h2>

                            <img class="img-fluid d-block mx-auto" src="{{ asset('assets/img/portfolio/01_moto.jpg') }}" alt="">
                            <p>Lancés à plus de 80 km/h, dans une sphère de seulement 4 mètres de diamètre, 3 motos se
                                croisent et s’entrecroisent, se frôlant puis s’évitant grâce à l’adresse incroyable de
                                ces hommes qui semblent faire corps avec leurs engins. Mais comment font-ils?<br>

                                Vitesse et dextérité sont les maîtres mots des Lucio qui vous invitent à mettre votre
                                ceinture et à rester bien accroché.<br>

                                Cette boule infernale, conçue spécialement pour ce numéro, offre à nos cascadeurs des
                                temps modernes un espace de jeu bien original ! Cela semble être de l’inconscience !
                                Mais ne nous y trompons pas :<br>

                                ces artistes manient la moto sans la moindre peur et en ayant toute confiance en
                                leurs coéquipiers !
                            </p>

                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">L'HOMME LE PLUS FORT DU MONDE</h2>
                            <img class="img-fluid d-block mx-auto" src="{{ asset('assets/img/portfolio/01_fort.jpg') }}"
                                 alt="">
                            <p>Denis Ilchenko, alias Hercule, nous vient des steppes de Russie où il a appris à
                                développer sa force à raison d’entraînements quotidiens dans le grand froid.<br>

                                Il s’agit d’un numéro traditionnel familial, transmis par son père, et très rarement
                                présenté sur les pistes de cirque. En exclusivité pour le Cirque de Saint-Pétersbourg,
                                Il jongle avec des pneus de voiture, plie des barres de fer, porte plusieurs personnes
                                sur une barre, pousse une voiture avec son cou, tire un camion avec ses dents, et
                                supporte même le poids d’une voiture qui lui passe dessus.


                            </p>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 4 -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">ACROBATIQUE</h2>
                            <img class="img-fluid d-block mx-auto" src="{{ asset('assets/img/portfolio/01_acrobate.jpg') }}"
                                 alt="">
                            <p> Couple à la piste comme à la ville, ils vous proposeront un ballet aérien des plus
                                enivrants, à plus de 8 mètres du sol, et sans filet. Ils vous entraîneront dans un
                                tourbillon de grâce et d’élégance rythmé par une technique tout à fait hors du commun.<br>

                                Frissons garantis avec ce numéro de haut vol, présenté par ce qui se fait de mieux sur
                                la planète, car ils ont été récompensés au dernier festival du cirque de Budapest.

                            </p>

                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 5 -->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">L’EXCEPTIONNEL GROUPE DE FAUVES</h2>
                            <img class="img-fluid d-block mx-auto" src="{{ asset('assets/img/portfolio/01_tigre.jpg') }}"
                                 alt="">
                            <p>Steeve Caplot, entouré par ses impressionnants compagnons que sont les tigres du Bengale,
                                et son magnifique lion blanc, ne se laissera pas dépasser par les événements !<br>

                                Comment le qualifier ? Sans aucune hésitation par « une main de fer dans un gant de
                                velours ». La finesse et le courage de notre artiste lui permet de réaliser un numéro
                                face à ces terribles félins, lors duquel il vous fera profiter de son talent au
                                caractère tout à fait exceptionnel.<br>

                                Dans ce numéro impressionnant, il les hypnotise au point de les rendre funambules !
                                Une des attractions phares du spectacle qui ravira sans
                                aucun doute l’ensemble du public.

                            </p>

                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 6 -->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">LE GRAND GROUPE D’ANIMAUX EXOTIQUES</h2>
                            <img class="img-fluid d-block mx-auto" src="{{ asset('assets/img/portfolio/01_animaux.jpg') }}" alt="">
                            <p>30 animaux en piste !<br>

                                Domestiqué depuis plus de 4000 ans, les chameaux ont toujours été un allié précieux de
                                l’Homme, notamment grâce à leur capacité à porter jusqu’à 280 kg à travers les steppes
                                mongoles.<br>

                                Souvent présents dans les ménageries itinérantes, ce sont en général de simples
                                figurants dans les défilés de présentation en piste d’animaux exotiques. Pour le
                                festival international du cirque Medrano, ils exécuteront, avec leurs cousins les
                                lamas, absolument toutes les figures que l’on retrouve habituellement dans les
                                présentations équestres.<br>

                                Ils formeront ainsi un carrousel original savamment orchestrés par leur dresseur,
                                qui paradera devant un public conquis par leur beauté.<br>
                            </p>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
