<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse flex-column " id="navbarResponsive">
            <ul class="navbar-nav text-uppercase  m-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ path('circus_index') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#services">Performances</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{{ path('ticket') }}">Billetterie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{{ path('search') }}">Représentation</a>
                </li>
            </ul>
            <div class="row">
                <div>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div class="nav-item">
                            <a class="nav-link" href="{{ path('count') }}">Mon Compte</a>
                        </div>
                    {%endif%}
                </div>
                <div>
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="nav-item">
                            <a class="nav-link" href="{{ path('admin_index') }}" target="_blank">Administration</a>
                        </div>
                    {%endif%}

                </div>
                {% if app.user %}
                    <div class="nav-item active">
                        <a class="nav-link" href="{{ path('app_logout') }}"> Déconnexion</a>
                    </div>
                {% else %}
                    <div class="nav-item active">
                        <a class="nav-link" href="{{ path('app_login') }}"> Connexion</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>